EMAIL_TO=nickwu9146@gmail.com
ACS_SENDER=DoNotReply@your-azure-managed-domain.azurecomm.net
ACS_CONNECTION_STRING='endpoint=https://example.communication.azure.com/;accesskey=example'
EMAIL_ALWAYS=0
USE_REAL_CHROME=1
BROWSER_CDP_URL=http://127.0.0.1:9222
REAL_CHROME_PROFILE_DIR="/Users/nick/Library/Application Support/MarukyuStock/real-chrome-profile"
BROWSER_CHANNEL=chrome
BROWSER_PROFILE_DIR=./browser-profile
MANUAL_SOLVE_MS=300000
