EMAIL_TO=nickwu9146@gmail.com
ACS_SENDER=DoNotReply@your-azure-managed-domain.azurecomm.net
ACS_CONNECTION_STRING='endpoint=https://example.communication.azure.com/;accesskey=example'
EMAIL_ALWAYS=1
BROWSER_PROFILE_DIR=./browser-profile
MANUAL_SOLVE_MS=120000
